:root {
    --paper: whitesmoke;
    --primary: #D2042D;
    --accent: white;
    --secondary: black;
    --active-sprite: #32CD32;
}

body {
    font-family: "Bungee", sans-serif !important;
    background-color: var(--paper) !important;
    overflow-y: hidden;
}

.navbar {
    background-color: var(--primary);
}

.navbar-brand {
    font-size: x-large !important;
}

.offcanvas-header {
    border-bottom: 1px solid var(--accent);
}

.offcanvas-header, .offcanvas-body {
    background-color: var(--primary);
    color: var(--accent);
}

.settings-btn {
    font-size: x-large !important;
}

.navbar-brand, .settings-btn {
    color: var(--accent) !important;
}

#pokedex-view-setter {
    width: 30rem;
    cursor: pointer;
}

.pokedex-image-setter-buttons-box button {
    height: fit-content;
}

.sprite-button.active {
    background-color: var(--active-sprite) !important;
    color: var(--accent) !important;
    border: none;
}

.sprite-button.inactive {
    background-color: var(--paper) !important;
    color: var(--secondary) !important;
}

#main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
}

#generations-filter-btn {
    width: 7rem;
}

#pokemon-list .list-group-flush {
    margin-bottom: 7rem;
}

#pokemon-list-item {
    background-color: transparent;
}

.selected-pokemon {
  background-color: var(--primary) !important;
  color: var(--accent) !important;
}

#pokemon-info {
    height: 25rem;
}

#pokemon-info ul {
    list-style-type: none;
}

.pokemon-card {
    box-shadow: 1px 1px 3px var(--secondary) !important;
    height: fit-content !important;
}

.search-pokemon-box {
    width: 30rem !important;
}

.form-control, .form-select {
    box-shadow: none !important;
}

#search-pokemon {
    background-color: transparent;
    color: var(--secondary);
    border: none;
    border-bottom: 1px solid var(--secondary);
    border-radius: 0;
}

#search-pokemon::placeholder {
    opacity: 0.5;
    color: var(--secondary);
}

#page-not-found {
    background-color: var(--paper);
}

@media screen and (orientation: portrait) {
    body {
        overflow-y: visible !important;
    }
    .navbar-brand, .settings-btn {
        font-size: large !important;
    }

    .search-pokemon-box {
        width: 100% !important;
    }

    #pokemon-info {
        height: 10rem;
        overflow-y: auto;
    }

    #pokemon-list {
        margin-top: 1rem !important;
    }

    .pokedex-view-setter-box {
        height: fit-content;
    }

    #pokedex-view-setter {
        width: 100% !important;
    }
}

@media screen and (max-width: 932px) and (orientation: landscape) {
    .pokedex-image-setter-box label {
        width: 100%;
    }

    #pokedex-view-setter {
        width: 23rem !important;
    }

    #pokemon-info {
        height: fit-content;
        overflow-y: auto;
    }

    #pokemon-list {
        margin-top: 1rem !important;
    }
}