:root {
    --paper: #D2042D;
    --accent: white;
    --active-sprite: #32CD32;
}

body {
    font-family: "Bungee", sans-serif !important;
    background-color: var(--paper) !important;
    overflow-y: hidden;
}

.navbar-brand {
    font-size: x-large !important;
}

.settings-btn {
    font-size: x-large !important;
}

.navbar-brand, .settings-btn {
    color: var(--accent) !important;
}

#pokedex-view-setter {
    width: 30rem;
    cursor: pointer;
}

.pokedex-image-setter-buttons-box button {
    height: fit-content;
}

.sprite-button.active {
    background-color: var(--active-sprite) !important;
    color: var(--accent) !important;
}

.sprite-button.inactive {
    background-color: var(--paper) !important;
    color: var(--accent) !important;
}

#main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
}

#pokemon-list .list-group-flush {
    margin-bottom: 7rem;
}

#pokemon-list-item {
    background-color: transparent !important;
}

#pokemon-info {
    height: fit-content;
    box-shadow: 2.2px 2.2px 7px white !important;
}

.pokemon-card {
    box-shadow: 2px 2px 5px var(--accent) !important;
    height: fit-content !important;
}

.search-pokemon-box {
    width: 30rem !important;
}

.form-control, .form-select {
    box-shadow: none !important;
}

#search-pokemon {
    background-color: transparent;
    color: var(--accent);
    border: none;
    border-bottom: 1px solid var(--accent);
    border-radius: 0;
}

#search-pokemon::placeholder {
    opacity: 0.65;
    color: var(--accent);
}

#page-not-found {
    background-color: var(--paper);
}

@media screen and (orientation: portrait) {
    .navbar-brand, .settings-btn {
        font-size: large !important;
    }

    .search-pokemon-box {
        width: 100% !important;
    }

    #pokemon-info {
        height: 20rem;
        overflow-y: auto;
    }

    #pokemon-list {
        margin-top: 1rem !important;
    }
}

@media screen and (max-width: 932px) and (orientation: landscape) {
    #pokemon-info {
        height: fit-content;
        overflow-y: auto;
    }

    #pokemon-list {
        margin-top: 1rem !important;
    }
}