:root {
    --paper: #D2042D;
    --accent: white;
}

* {
    transition: all 0.5s ease-in-out;
}

body {
    font-family: "Bungee", sans-serif !important;
    background-color: var(--paper) !important;
    overflow-y: hidden;
}

#main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100vh;
}

#pokemon-list-item {
    background-color: transparent !important;
}

#pokemon-info {
    height: fit-content;
    box-shadow: 2.2px 2.2px 7px white !important;
}

.search-pokemon-box {
    width: 30rem !important;
}

.form-control {
    box-shadow: none !important;
}

#search-pokemon {
    background-color: transparent;
    color: var(--accent);
    border: none;
    border-bottom: 1px solid var(--accent);
    border-radius: 0;
}

#search-pokemon::placeholder {
    opacity: 0.65;
    color: var(--accent);
}

#page-not-found {
    background-color: var(--paper);
}

@media screen and (orientation: portrait) {
    .search-pokemon-box {
        width: 100% !important;
    }

    #pokemon-info {
        height: 20rem;
        overflow-y: auto;
    }

    #pokemon-list {
        margin-top: 1rem !important;
    }
}

@media screen and (max-width: 932px) and (orientation: landscape) {
    #pokemon-info {
        height: fit-content;
        overflow-y: auto;
    }

    #pokemon-list {
        margin-top: 1rem !important;
    }
}